{% extends "base.html" %} {% block content %}

<div class="post text-center">
  <div class="post-heading">
    <div class="post-title">
      <a href="/blog/{{c.key().id()}}">{{c.comment}}</a>
    </div>
    <div class="post-date">
      Posted {{c.created.strftime("%b %d, %Y %I:%M %p")}} {% if p.edited == True %}
      <div>
        Edited {{c.last_modified.strftime("%b %d, %Y %I:%M %p")}}
      </div>
      {% endif %}
      <div>
        By {{c.author}}
      </div>
    </div>
  </div>
  <div class="post-content">
    {{c._render_text | safe}}
  </div>
</div>

{% endblock %}
