{% extends "base.html" %}

{% block content %}
<div class="text-center">
  <h2>Edit Comment</h2>

    <form method="post">
      <div class="form-group">
        <label>
          <div>Content</div>
          <textarea name="content">{{content}}</textarea>
        </label>
      </div>
      <p class="help-block">Submissions require Content.</p>
      <div class="error">{{error}}</div>
      <input type="submit" class="btn btn-primary btn-xs">

<form method="link" action="/blog/" +comment.post_id)>
  <input type="submit" value="Cancel" class="btn btn-primary btn-xs">
</form>
    </form>
</div>

{% endblock %}
