{% extends "base.html" %} {% block content %} {{post.render() | safe}}
<hr class="hrstyle">

<span class="input-group-btn">
          <form action="/blog/NewComment/{{post.key().id()}}" method="get">
                <button type="button submit" class="btn btn-primary btn-xs pull-right" name="comment-button">
                <span class="glyphicon glyphicon-list-alt"></span> Comment</button>
</form>

{% if user.name|string() == post.author|string() %}

<button type="button" class="btn btn-danger btn-xs pull-right" name="delete-button" data-toggle="modal" data-target="#myModal">
  <span class="glyphicon glyphicon-remove"></span> Delete Post</button>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Post</h4>
      </div>
      <div class="modal-body">
        <p>Clicking Delete will permanently delete your post! Click Close to exit with no changes.</p>
      </div>
      <div class="modal-footer">
        <form action="/blog/deletePost/{{post.key().id()}}" method="post">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button submit" class="btn btn-danger" name="delete-button">
                    <span class="glyphicon glyphicon-remove"></span>Delete Post</button>
        </form>
      </div>
    </div>
  </div>
</div>
<form action="/blog/editpost/{{post.key().id()}}" method="get">
  <button type="button submit" class="btn btn-primary btn-xs pull-right" name="edit-button">
        <span class="glyphicon glyphicon-repeat"></span> Edit Post</button>
</form>
{% elif user.name not in post.liked_by %}

<form action="/blog/likes/{{post.key().id()}}" method="post">
  <button type="button submit" class="btn btn-primary btn-xs pull-right" name="like-button">
        <span class="glyphicon glyphicon-thumbs-up"></span> Like</button>
</form>

{% else %}

<form action="/blog/unlikes/{{post.key().id()}}" method="post">
  <button type="button submit" class="btn btn-primary btn-xs pull-right" name="unlike-button">
        <span class="glyphicon glyphicon-thumbs-down"></span> UnLike</button>
</form>
</span>
</div>
<hr class="hrstyle"> {% endif %} {% if comments != Null %} {% for c in comments %}
<div class="row">
  <h6>Comment by {{c.author}} created on {{c.created.strftime("%b %d, %Y %I:%M %p")}}
        {% if c.edited == True %}
            Edited {{c.last_modified.strftime("%b %d, %Y %I:%M %p")}}
        {% endif %}</h6>
  <p>
    <h5>{{c.content}}</h5></p>
  <br> {% if user.name|string() == c.author|string() %}
  <form action="/blog/DeleteComment/{{c.key().id()}}" method="post">
    <button type="button submit" class="btn btn-danger btn-xs pull-left" name="comment-button">
            <span class="glyphicon glyphicon-remove"></span> Delete Comment</button>
  </form>
  {% endif %} {% if user.name|string() == c.author|string() %}
  <form action="/blog/EditComment/{{c.key().id()}}" method="get">
    <button type="button submit" class="btn btn-primary btn-xs pull-left" name="edit-button">
            <span class="glyphicon glyphicon-repeat"></span> Edit Comment</button>
  </form>
  {% endif %}
</div>
<div>
  <hr class="hrstyle">
</div>
{% endfor %} {% endif %} {% endblock %}
