<div class="post text-center">
  <div class="post-heading">
    <div class="pull-left">
      <span class="glyphicon glyphicon-thumbs-up"></span> {{p.likes}}
    </div>
    <div class="post-title">
      <a href="/blog/{{p.key().id()}}">{{p.subject}}</a>
    </div>
    <div class="post-date">
      Posted {{p.created.strftime("%b %d, %Y %I:%M %p")}} {% if p.edited == True %}
      <div>
        Edited {{p.last_modified.strftime("%b %d, %Y %I:%M %p")}}
      </div>
      {% endif %}
      <div>
        By {{p.author}}
      </div>
    </div>
  </div>
  <div class="post-content">
    {{p._render_text | safe}}
  </div>
</div>
